<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block title %}MHonarc Scraper{% endblock title %}</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <script src="http://www.google.com/jsapi"></script>
</head>
<body>
<ul class="nav">
<li class="home"><a href="/">MHonArc Scraper</a></li>
<li class="header">{% block header %}{% endblock header %}</li>

<li class="login">
{% if user %}
<span class="nickname">{{user.nickname}}</span>
<a href="{{logout_url}}" class="logout">Logout</a>
{% else %}
<a href="{{login_url}}" class="login">Login</a>
{% endif %}
</li>
</ul>


{% if message %}<div class='info'>{{message}}</div>{% endif %}
{% if error_message %}<div class='error'>{{error_message}}</div>{% endif %}

<div class='content'>
{% block content %}
<a href="javascript:history.go(-1)">Go back.</a>
{% endblock content %}
</div>

<script>{% block script %}{% endblock script %}</script>
</body>
</html>
