{% extends "base.html" %}
{% block title %}
  {{ list.list_url }}
{% endblock title %}

{% block header %}
  {{ list.list_url }}
{% endblock header %}

{% block content %}
<table class="threads">
  {% for thread in threads %}
  <tr class="{% if thread.read %}read{% else %}unread{% endif %}">
    <td class="participants">{{ thread.participants.0 }}</td>
    <td class="detail">
      <a href="/thread/show?thread={{thread.thread_id|urlencode}}">
        <span class="subject">{{ thread.subject }}</span>
        <span class="body">{{ thread.last_message_body}}</span>
      </a>
    </td>
    <td class="time">{{ thread.short_date }}</td>
  </tr>
  {% endfor %}
</table>
<div class='footer'>
  Last updated {{ list.last_fetched_time|timesince }} ago.
  {{ list.num_fetched_msg }} message in total.
  <a href="/list/update?list={{list.list_url|urlencode}}">Update now</a>.
</div>
{% endblock content %}
