body {
  font-family: "calibri" "helvetica" "verdana" sans-serif;
  font-weight: thin;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 150%;
  font-weight: normal;
  float: right;
}

h1 a {
  color: black;
  text-decoration: none;
}

h2 {
  font-size: 130%;
  float: left;
  font-weight: normal;
}

.nav {
  overflow: hidden;
  list-style: none;
  font-size: 120%;
  margin: 0;
  padding: 0.25em .5em;
  background: url(/static/top-gradient.png) repeat-x left center;
}

.nav li {
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  background: no-repeat url(/static/top-sep.png) left center;
  color: white;
}

.nav li:first-child {
  padding-left: 0;
  background: none;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav .login {
  float: right;
  white-space: nowrap;
  background: none;
}

.nav li.login a:after { content: "]" }
.nav li.login a:before { content: "[" }
.nav li.login a { text-transform: lowercase; }

body .content {
  clear: both;
}

.threads {
  width: 100%;
  border: 0px;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  table-layout: fixed;
  clear: both;
}

.threads tr {
  max-height: 1em;
  padding-left: 1em;
  overflow: hidden;
}

.threads td {
  white-space: nowrap;
  overflow: hidden;
  padding-left: 1ex;
}

.threads tr:nth-child(even) {
  background-color: #eee;
}

.threads td:first-child {
  padding-left: 2ex;
}

.threads td:last-child {
  padding-right: 2ex;
}

.threads .participants {
  width: 7em;
}

.threads .detail {
  width: auto;
}

.threads .subject {
  font-weight: bolder;
}

.threads .read .subject {
  font-weight: inherit;
}

.threads .body {
  color: gray;
}

.threads .time {
  width: 10ex;
  text-align: right;
}

.threads a {
  text-decoration: none;
  color: black;
}

.message {
  clear: both;
  max-width: 85ex;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

.message .container {
  padding: 0.5em;
  border: solid 1px black;
  border-radius: 0.5em;
  background: white;
}

.message .sender {
  color: #3333FF;
  float: left;
}

.message .to {
  color: #9999FF;
}

.message .to:before {
  content: "to";
  color: black;
  padding: 0 0.25em;
}

.message .content_type:before {
  content: "as";
  color: black;
  padding: 0 0.25em;
}

.message .content_type {
  color: #CCCCFF;
  display: none;
}

.messages .collapsed {
  height: 2em;
  overflow: hidden;
  margin-bottom: -0.3em;
}

.footer {
  text-align: center;
  margin-top: 1em;
  font-size: 90%;
  color: gray;
}
