
.threads {
}

.threads tbody {
  float: left;
  clear: both;
  width: 100%;
  overflow: hidden;
  background: green;
}

.threads td {
  height: 1em;
  overflow: hidden;
  white-space: nowrap;
}

.threads tr {
  clear: both;
}

.threads .participants {
  float: left;
  color: orange;
  width: 10em;
}

.threads .detail {
  background: purple;
  width: 100%;
  margin-left: -10em;
  padding-left: 10em;
  padding-right: 7em;
  position: absolute;
}

.threads .time {
  float: right;
  position: absolute;
  width: 7em;
  overflow: hidden;
  color: cyan;
}

.threads .body {
  color: gray;
}

.threads a {
  text-decoration: none;
  color: black;
}

.message {
  margin-top: 0.5em;
  padding: 0.5em;
  border: solid 1px black;
  border-radius: 5px;
}

.message .sender {
  color: #3333FF;
  float: left;
}

.message .to {
  color: #9999FF;
}

.message .to:before {
  content: "to";
  color: black;
  padding: 0 0.25em;
}

.message .content_type:before {
  content: "as";
  color: black;
  padding: 0 0.25em;
}

.message .content_type {
  color: #CCCCFF;
}
